<div class="row">
  <div class="col-md-12 ac">
    <a href="/dashboard/businesses/{{model._id}}" class="a">{{#if model.image_url}}<img src="{{model.image_url}}" />{{else}}<div class="business-name">{{model.name}}</div>{{/if}}</a>
    <div>
      <a href="/dashboard/businesses/{{model._id}}" class="a gray">Edit Business</a> <span class="gray ml15 mr15">&mdash;</span> <a href="javascript:;" class="add-location gray">Add Location</a>
    </div>
  </div>

  <div class="locations row"></div>
</div>