<div class="box bigger">
  <form id="general" action="">
    <div class="box-header">
      <h3>Business Information</h3>
    </div>
    <div class="box-body">
      <div class="row ac">
        <h3>General</h3>
      </div>
      <div class="row">
        <dl class="dl-horizontal">
          {{#each fields}}
            <dd><label for="{{this.idx}}">{{this.label}}</label> </dd>
            <dt>
              <input id="{{this.idx}}" type="text" name="{{this.name}}" value="{{this.value}}"></input>
            </dt>
          {{/each}}
        </dl>
      </div>
    </div>
    <div class="box-footer">
      <div class="row">
        <dl class="dl-horizontal">
          <dd>
            <button type="button" class="btn a fr cancel">Cancel</button></dd>
          <dt>
            <button type="submit" class="btn btn-green a fr save">Save</button>
          </dt>
        </dl>
      </div>
    </div>
  </form>
</div>