<div class="box bigger">
  <form id="general" action="">
    <div class="box-header">
      <h3>Business Information</h3>
    </div>
    <div class="box-body">
      <div class="row ac">
        <h3>General</h3>
      </div>

      {{#each fields}}
        <div class="row">
          <dl class="dl-horizontal">
            <dd><label for="{{this.idx}}">{{this.label}}</label> </dd>
            <dt>
              <input id="{{this.idx}}" type="text" name="{{this.name}}" value="{{this.value}}"></input>
            </dt>
          </dl>
        </div>
      {{/each}}
    </div>
    <div class="box-footer">
      <div class="row">
        <dl class="dl-horizontal">
          <dd></dd>
          <dt>
            <button type="submit" class="btn btn-green a fr save">Save</button>
          </dt>
        </dl>
      </div>
    </div>
  </form>
</div>