<div class="col-md-3 mt15">
  <div>
    <div><strong>{{model.name}}</strong></div>
    {{model.address.street1}}<br />
    {{#if model.address.street2}}{{model.address.street2}}{{/if}}
    {{model.address.city}}{{#if model.address.city}},{{/if}} {{model.address.state}} {{model.address.zip}}<br />
    {{#if model.verified}}<span class="green"><strong>Verified</strong></span>{{else}}<span class="yellow"><strong>Unverified</strong></span>{{/if}}
  </div>
  <div>
    <a href="javascript:;" class="edit">Edit</a> 
    {{#unless model.verified}}
      {{!-- <span class="gray ml15 mr15">&mdash;</span> 
      <a href="javascript:;" class="verify">Verify</a> --}}
    {{/unless}}
  </div>
</div>