<div class="col-md-3 mt15">
  <address>
    {{model.address.street1}}<br />
    {{model.address.street2}}<br />
    {{model.address.city}}{{#if model.address.city}},{{/if}} {{model.address.state}} {{model.address.zip}}<br />
  </address>
  <div><a href="javascript:;" class="edit">Edit</a></div>
</div>