<div class="col-md-3 mt15">
  <div>{{model.address.street1}}</div>
  <div>{{model.address.street2}}</div>
  <div>{{model.address.city}}{{#if model.address.city}},{{/if}} {{model.address.state}} {{model.address.zip}}</div>
  <div><a href="javascript:;" class="edit">Edit</a></div>
</div>