<div class="page-header">
	{{#if facebook_image}}<img class="fl mr15" src="{{facebook_image}}" title="{{facebook_user}}" />{{/if}}
	<span class="fl">
	  <h4>
	  	{{#if model.name}}{{#if yelp}}<a href="{{yelp}}" target="_blank">{{/if}}{{model.name}}{{#if yelp}}</a>{{/if}}<br />{{/if}}<small>{{model.phone}}{{#if model.email}} - {{model.email}}{{/if}}</small></h4>
	</span>
	<div class="clear"></div>
	<div>	  	
		{{#if facebook}}
			<a href="{{facebook}}" target="_blank"><i class="icon-facebook-sign"></i></a>	  
	  {{/if}}

  	{{#if twitter}}
  		<a href="{{twitter}}" target="_blank"><i class="icon-twitter-sign"></i></a>	  
    {{/if}}

  	{{#if linkedin}}
  		<a href="{{linkedin}}" target="_blank"><i class="icon-linkedin-sign"></i></a>	  
    {{/if}}

	</div>
</div>

<div>
	<div>Gender: {{#if model.gender}}{{model.gender}}{{else}}Unknown{{/if}} -
	Birthday: {{#if model.birthday}}{{model.birthday}}{{else}}Unknown{{/if}}
	</div>
</div>

{{#if model.description}}
<div>
	{{model.description}}
</div>
{{/if}}

{{#if model.previous_locations}}
<div>
	<h5>Reported Locations</h5>
	{{#each model.previous_locations}}
		<div>
	 		{{timeAgo this.updated}}: {{this.description}}
	 	</div>
	{{/each}}
</div>
{{/if}}

{{#if model.previous_places}}
<div>
	<h5>Sent to Places</h5>
	{{#each model.previous_places}}
		<div>
	 		{{timeAgo this.updated}}: <a class="sent-places" data-id="{{this._id}}" href="javascript:;">{{this.name}}</a>
	 	</div>
	{{/each}}
</div>
{{/if}}


<p><button class="edit btn btn-small" type="button">edit</button></p>