<div class="header">
	<a class="save"><i class="icon-chevron-left"></i> Save</a>
	<a class="hide-sidepane fr">Cancel <i class="icon-chevron-right"></i></a>
</div>
<table>
	<tbody>
		<tr>
			<td>Phone</td>
			<td style="padding-top:4px">{{model.phone}}</td>
		</tr>
		<tr>
			<td>Name</td>
			<td><input type="text" name="name" value="{{model.name}}" placeholder="Name of customer" /></td>
		</tr>

		<tr>
			<td>Email</td>
			<td><input type="text" name="email" value="{{model.email}}" placeholder="Email Address" /></td>
		</tr>

		<tr>
			<td>Gender</td>
			<td><input type="text" name="gender" value="{{model.gender}}" placeholder="Gender" /></td>
		</tr>

		<tr>
			<td>Birthday</td>
			<td><input type="text" name="birthday" value="{{model.birthday}}" placeholder="Birthday - YYYY/MM/DAY" /></td>
		</tr>

		<tr>
			<td>Description</td>
			<td><textarea name="description" placeholder="Description">{{model.description}}</textarea></td>
		</tr>

		<tr>
			<td>Home Address</td>
			<td><textarea name="home" placeholder="Home">{{model.home}}</textarea></td>
		</tr>

		<tr>
			<td>Current Location</td>
			<td><textarea name="location" placeholder="Current Location"></textarea></td>
		</tr>

		<tr>
			<td>Facebook</td>
			<td><input type="text" name="facebook" placeholder="Facebook" value="{{model.facebook}}" /></td>
		</tr>

		<tr>
			<td>Twitter</td>
			<td><input type="text" name="twitter" placeholder="Twitter" value="{{model.twitter}}" /></td>
		</tr>

		<tr>
			<td>LinkedIn</td>
			<td><input type="text" name="linkedin" placeholder="LinkedIn" value="{{model.linkedin}}" /></td>
		</tr>

		<tr>
			<td>Yelp</td>
			<td><input type="text" name="yelp" placeholder="Yelp" value="{{model.yelp}}" /></td>
		</tr>
	</tbody>
</table>