<!DOCTYPE html>
<head>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	{{js "handlebars"}}
	{{js "jquery.cookie"}}
	{{js "underscore.min"}}
	{{js "backbone"}}
	{{js "backbone.marionette"}}

	{{#if bootstrap}}
		{{css "bootstrap"}}
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
		{{js "bootstrap"}}
	{{/if}}

	{{#if semantic}}
		{{js "src/semantic"}}
		{{css "semantic.min"}}
	{{/if}}


	{{#if app}}
		{{css "app"}}
	{{/if}}
	
	{{#if dashboard}}
		{{css "dashboard"}}
	{{/if}}

	{{! remove and minify }}
	{{js "src/handlebars-helpers"}}
	{{js "src/moment"}}

	<script type="text/javascript" src="/js/templates.js"></script>

	{{js "socket.io.min"}}

	{{js "app"}}
	<title>Clola</title>
</head>
<body>
	<script type="text/javascript">
		App.start({
			localhost: {{config.localhost}},
			user : JSON.parse("{{{user}}}")
		});
	</script>
</body>
</html>