<!DOCTYPE html>
<head>
	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	{{css "app"}}

	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	{{js "handlebars"}}
	{{js "jquery.cookie"}}
	{{js "underscore.min"}}
	{{js "backbone"}}
	{{js "backbone.marionette"}}

	<script type="text/javascript" src="/js/templates.js"></script>

	{{js "socket.io.min"}}

	{{js "app"}}
	<title>Clola</title>
</head>
<body>
	<script type="text/javascript">
		App.start();
	</script>
</body>
</html>