<div class="image">
  <img src="{{#if facebook_image}}{{facebook_image}}?width=400&height=400{{else}}/img/placeholder.gif{{/if}}">
</div>
<div class="content">
  <div class="name">{{model.name}}</div>
  {{#if twitter}}<a href="{{twitter}}" target="_blank"><i class="icon twitter sign"></i></a>{{/if}}
  {{#if linkedin}}<a href="{{linkedin}}" target="_blank"><i class="icon linkedin sign"></i></a>{{/if}}
  {{#if facebook}}<a href="{{facebook}}" target="_blank"><i class="icon facebook sign"></i></a>{{/if}} 
  <div class="clear"></div> 

  
  {{#if model.occupation}}
    <div><strong>{{model.occupation}}</strong> at <strong>{{model.company_name}}</strong></div>
  {{else}}
    {{#if model.company_name}}<div>Works at <strong>{{model.company_name}}</strong></div>{{/if}}
  {{/if}}
</div>