<div class="page-header">
  <h4>{{model.name}}<br /><small>{{model.contact}}</small></h4>
</div>

{{#if model.address}}
	<address>{{model.address}}</address>
{{/if}}

{{#if model.price}}
	<p>{{model.price}}</p>
{{/if}}

{{#if model.description}}
	<p>{{model.description}}</p>
{{/if}}


{{#if model.text_message}}
	<p>Text message: {{model.text_message}}</p>
{{/if}}


{{#if model.memo}}
	<p>Memo: {{model.memo}}</p>
{{/if}}

{{#if model.site}}
	<p><a href="{{model.site}}">{{model.site}}</a></p>
{{/if}}

{{#if model.cash_only}}
	<p>This place is cash only</p>
{{/if}}

{{#if model.hours}}
	{{#if model.hours.open}}
		<p>{{model.hours.open}}-{{model.hours.close}}</p>
	{{/if}}
{{/if}}

<div class="breadcrumbs small">
	<span class="breadcrumb">{{model.city}}</span> <i class="icon-chevron-right"></i> 
	<span class="breadcrumb">{{model.area}}</span>  <i class="icon-chevron-right"></i>
	<span class="breadcrumb">{{model.category}}</span> <i class="icon-chevron-right"></i>
	<span class="breadcrumb">{{model.subcategory}}</span>
</div>

{{#if model.tags}}
<div class="breadcrumbs small">
	{{#each model.tags}}
	<span class="breadcrumb">{{this}}</span>
	{{/each}}
</div>
{{/if}}

<p><button class="edit btn btn-small" type="button">edit</button>
	<button class="send-to btn btn-small btn-green"><i class="icon-share-alt"></i> Send to Selected Customer</button>
	<button class="text-to btn btn-small btn-green"><i class="icon-comment"></i>  Text Message</button>
</p>