<div class="border-top"></div>
<div class="border-left"></div>
<div class="border-right"></div>
<div class="square square-image" {{#if facebook_image}}style="background-image: url({{facebook_image}}?width=400&height=400);"{{else}} style="background-image: url(http://placekitten.com/g/400/400);"{{/if}}>
  <div class="info">
    <h5>{{model.name}}</h5>
    <div>     
      {{#if facebook}}
        <a href="{{facebook}}" target="_blank"><i class="icon-facebook-sign"></i></a>   
      {{/if}}

      {{#if twitter}}
        <a href="{{twitter}}" target="_blank"><i class="icon-twitter-sign"></i></a>   
      {{/if}}

      {{#if linkedin}}
        <a href="{{linkedin}}" target="_blank"><i class="icon-linkedin-sign"></i></a>   
      {{/if}}
    </div>
    <subtitle>{{model.gender}}</subtitle>
    <div>{{model.description}}</div>
    <div>Last Visit: {{formatDate visits.0.updated_date}}</div>
  </div>
</div>