<i class="close icon"></i>
<div class="header">
  Business
</div>
<div class="content">  
    {{#each fields}}
      <div class="ui form {{#if @index}}right{{else}}left{{/if}} half-full">
        {{#each this}}
          {{#compare this.attribute "address.city"}}<div class="ui three fields">{{/compare}}
            <div class="field">
              <label for="{{this.idx}}">{{this.label}}</label>
              <div class="ui left labeled input">
                <input id="{{this.idx}}" name="{{this.name}}" type="{{this.type}}" placeholder="{{this.placeholder}}" value="{{this.value}}">
                {{#if this.required}}
                  <div class="ui corner label">
                    <i class="icon asterisk"></i>
                  </div>
                {{/if}}
              </div>
            </div>
          {{#compare this.attribute "address.zip"}}</div>{{/compare}}
        {{/each}}
      </div>
    {{/each}}
</div>
<div class="actions">
  <div class="ui button cancel">Cancel</div>
  <div class="ui button ok green">OK</div>
</div>