<div class="modal-dialog">
  <div class="modal-content">
    <form id="create" class="modal-dashboard">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title">Business Information</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="row">
          <dl class="dl-horizontal">
            {{#each fields}}
              <dd><label for="{{this.idx}}">{{this.label}}</label> </dd>
              <dt>
                <input id="{{this.idx}}" type="text" name="{{this.name}}" value="{{this.value}}" required></input>
              </dt>
            {{/each}}
          </dl>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-cancel" data-dismiss="modal">Cancel</button>
      <button type="button" class="btn btn-create btn-green ok save">Save</button>
    </div>
    </form>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->